@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: -36px auto 0px auto;
  width: 85%;
  position: relative;
}
.smallMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.campany-logo {
  margin-right: 6%;
  margin-top: 33px;
}

menu {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  cursor: pointer;
  color: var(--dark-grayish-blue);
  padding-bottom: 33px;
  margin: 50px 14% -16px 0px;
}

menu > li:hover {
  color: var(--black);
  border-bottom: 4px solid var(--primary-orange);
  padding-bottom: 29px;
}

header > .profileCart {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  right: 0;
  top: 56px;
}

.profile-pic {
  width: 40px;
  cursor: pointer;
  margin-left: 20px;
  transition: transform 0.3s ease-in;
}

hr {
  width: 85%;
  border: none;
  height: 1px;
  margin-top: 0;
  /* Set the hr color */
  color: var(---grayish-blue); /* old IE */
  background-color: var(--grayish-blue); /* Modern Browsers */
}

main {
  display: flex;
  align-items: center;
  width: 78%;
  margin: 75px auto;
}

main > div {
  width: 50%;
}

.gallery {
  width: 50%;
}

.product-image {
  width: 100%;
  border-radius: 13px;
  cursor: pointer;
}
.gallery-collection {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.product-image-thumbnail {
  width: 19%;
  border-radius: 12%;
  display: block;
  cursor: pointer;
}

.main-content {
  margin-top: -50px;
  margin-left: 7%;
  margin-right: 8%;
}
.campany-name {
  font-size: 14px;
  color: var(--primary-orange);
  font-weight: 700;
  letter-spacing: 1px;
}
.product-name {
  font-weight: 700;
  font-size: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.discription {
  color: var(--dark-grayish-blue);
  line-height: 26px;
}
.price-container {
  display: flex;
  flex-direction: column;
}
.price-container > div {
  display: flex;
  flex-direction: row;
  margin-bottom: -5px;
}
.price {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}
.price-off {
  display: block;
  padding: 5px 10px;
  background-color: var(--primary-pale-orange);
  color: var(--primary-orange);
  border-radius: 5px;
  margin-left: 10px;
}
.initial-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
.add-to-cart-container {
  display: flex;
}
.quantity-container {
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1px 2px;
}
.quantity-container > img {
  display: block;
  cursor: pointer;
  padding: 15px;
}

.quantity {
  margin-right: 20px;
  margin-left: 20px;
}
.cart-btn {
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 1;
}

.add-to-cart-btn {
  padding: 10px 5vw;
  font-size: 1vw;
  border: none;
  border-radius: 7px;
  margin-left: 26px;
  background-color: var(--primary-orange);
  color: var(--white);
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

button > svg {
  margin-right: 17px;
}

.cart-modal {
  border-radius: 10px;
  width: 327px;
  height: 177px;
  padding: 0px 0px 28px 0px;
  position: absolute;
  right: 79px;
  top: 62px;
  z-index: 1;
  background-color: var(--white);
  box-shadow: 1px 5px 36px -2px rgb(224 39 39 / 20%);
  visibility: hidden;
  display: none;
}
.cart-modal-hide {
  visibility: visible;
  display: block;
}

.cart-modal-title {
  display: block;
  font-weight: 700;
  padding-left: 14px;
  font-size: 14px;
  padding-top: 6px;
}

.cart-modal > hr {
  height: 1px;
  border: none;
  width: 100%;
}

.checkout-btn {
  border: none;
  background-color: var(--primary-orange);
  border-radius: 6px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 107px;
  position: absolute;
  text-align: center;
  bottom: 25px;
  left: 6%;
}

.pictures-modal {
  background-color: hsla(220, 13%, 13%, 0.8);
  height: 120%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2;
}

.pictures-modal > .gallery-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pictures-modal > .gallery-main > .product-image {
  width: 58%;
  border-radius: 20px;
}
.pictures-modal > .gallery-collection {
  display: flex;
  justify-content: center;
}
.pictures-modal > .gallery-collection > img {
  width: 13%;
  margin-right: 23px;
  border-radius: 12%;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.arrows {
  background-color: var(--white);
  border-radius: 100%;
  width: 16px;
  margin: 0 -24px 0 -24px;
  padding: 17px 17px 17px 17px;
  cursor: pointer;
}
.arrows:hover > path {
  stroke: var(--primary-orange);
}
.close-modal:hover > path {
  fill: var(--primary-orange);
}

.close-modal {
  margin-top: 100px;
  width: 7%;
  margin-bottom: 17px;
  margin-left: 33%;
  cursor: pointer;
}

.product-div {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}
.cart-product {
  width: 54px;
  margin-right: 13px;
  border-radius: 4px;
}
#product-title {
  color: var(--dark-grayish-blue);
  font-size: 13px;
}
.cart-product-details {
  display: flex;
  flex-direction: column;
  color: var(--dark-grayish-blue);
}

.cart-product-details > p {
  margin: 0;
  margin-top: 5px;
}

.delete-product {
  margin-left: 19px;
  cursor: pointer;
}
footer {
  margin-top: 41px;
}

#total-price {
  font-weight: 700;
  color: var(--black);
}
#cart-empty {
  text-align: center;
  margin: 56px;
  font-weight: 700;
  font-size: 15px;
  color: var(--dark-grayish-blue);
  display: block;
}
#product-checkout {
  visibility: hidden;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.profile-pic:hover {
  border: 2px solid var(--primary-orange);
  border-radius: 100%;
  transform: scale(0.9);
}

#number-product {
  margin-top: -30px;
  margin-left: 14px;
  font-size: 10px;
  background: var(--primary-orange);
  padding: 1px 7px;
  border-radius: 5px;
  color: white;
  visibility: hidden;
}

.menu-item-active {
  color: var(--black);
  border-bottom: 4px solid var(--primary-orange);
  padding-bottom: 29px;
}
.list-icon {
  display: none;
}

#cart-hr {
  display: block;
}

@media screen and (max-width: 1132px) {
  .add-to-cart-btn {
    padding: 12px 2vw;
  }
  .product-name {
    font-size: 33px;
  }
}

@media screen and (max-width: 921px) {
  .list-icon {
    display: block;
    margin-top: 20px;
    margin-right: 13px;
  }

  header {
    margin-top: 5px;
    margin-bottom: 22px;
  }
  .campany-logo {
    margin-right: 6%;
    margin-top: 15px;
  }

  header > .profileCart {
    justify-content: center;
    top: 0;
  }

  hr {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 0px;
  }
  .gallery-collection {
    visibility: hidden;
  }
  menu {
    display: none;
  }
  .gallery {
    width: 90%;
  }

  main > div {
    width: 90%;
  }
  .add-to-cart-container {
    display: flex;
    flex-direction: column;
  }
  .add-to-cart-btn {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 0px;
    font-size: 13px;
    justify-content: center;
  }
  .quantity-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 524px) {
  .cart-modal {
    position: absolute;
    width: 87%;
    top: 70px;
    right: initial;
  }

}
@media screen and (max-width: 380px) {
  .cart-modal {
    position: absolute;
    width: 87%;
    top: 70px;
    right: initial;
  }

  .profile-pic {
    width: 25px;
    margin-left: 10px;
    margin-top: 13px;
  }
  .cart-btn {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-top: -2px;
  }
  .price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
